.banner-prime .item{-webkit-background-size: cover;background-size: cover;background-repeat: no-repeat;}
.banner-prime .in-box{text-align: center;height: 700px;position: relative;padding-bottom: 150px;}
.banner-prime h1{color: #fff;font-weight: 700;margin-bottom: 30px;font-size: 30px;}
.banner-prime .intro-info{display: block;color:#fff;font-weight: 700;margin-bottom: 70px;}
.banner-prime .certificate{position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);}

.testimonial{background-image: url(../images/testimonial-bg.png);background-attachment: fixed;background-repeat: no-repeat;-webkit-background-size: cover;background-size: cover;}
.testimonial-slider .item{padding: 15px 0 30px 0;}
.tbox{padding: 15px 15px 15px 290px;position: relative;max-width: 800px;margin:0 auto;background-color: #fff;border-radius: 5px;overflow: hidden;-webkit-box-shadow: 0px 5px 35px 0px rgba(20,125,194,0.38);-moz-box-shadow: 0px 5px 35px 0px rgba(20,125,194,0.38);box-shadow: 0px 5px 35px 0px rgba(20,125,194,0.38);}
.usr-img{position: absolute;left: 0;top:0;width: 260px;height: 260px;}
.usr-detail{height: 200px;}
.usr-name{display: block;text-align: right;color: #147dc2;font-size: 20px;font-style: italic;}
.testimonial-slider .controler{position: absolute;bottom: 15px;left: 270px;}
.testimonial-slider .carousel-control.left,
.testimonial-slider .carousel-control.right{opacity: 0.5;display: inline-block;position: relative;color: #147dc2;padding: 0 20px;text-align: center;}
.testimonial-slider .carousel-control.left:hover,
.testimonial-slider .carousel-control.right:hover{opacity: 1;}

.our-client{text-align: center;font-size:0;padding: 30px 0;}
.our-client li{display: inline-block;width: 16.666%;margin:0 -4px;cursor:pointer;padding: 0 9px;}
.our-client li img{margin:0 auto;max-width: 100%;}
.our-client li .h-client,
.our-client li:hover .client-img{display: none;}
.our-client li .client-img,
.our-client li:hover .h-client{display: block;}

/*Footer section*/
.primary-footer {background-color: #147dc2;}
.primary-footer ul{list-style-type: none;padding-left: 0;margin:0;}
.primary-footer ul li{padding-left: 12px;position: relative;margin-bottom: 10px;}
.primary-footer ul li:last-child{margin-bottom:0px;}
.primary-footer ul li:before{position: absolute;top:9px;left: 0;height: 5px;width: 5px;background-color: #fff;border-radius: 50%;content: '';}
.primary-footer ul a{line-height: 1;font-size: 14px;font-weight: 300;color: #fff;text-transform: uppercase;text-decoration: none;}
.primary-footer ul a:hover,
.primary-footer ul a:focus,
.primary-footer ul a:active{color:#000;}
.f-title{font-size: 15px;font-weight: 700;color: #fff;text-transform: uppercase;margin-bottom: 40px;}
.n-detail img{float: left;}
.n-detail .data{float: left;display: block;padding-left: 90px;margin-top: -64px;color:  #fff;font-size:  13px;font-weight: 500;line-height: 1.2;}
.f-mail-box{position: relative;margin-top: 30px;}
.f-mail-box .cst-control{padding-right: 106px;}
.f-mail-box .submit-button{position: absolute;right: 5px;top:5px;}
.secondary-footer{background-color: #ffffff;padding:20px 0;}
.f-brand{}
.f-social{float: right;}
.f-social ul{text-align: right;margin: 0;}
.f-social li{display: inline-block;margin: 0 5px;}
.f-social a{display:block;width: 28px;height: 28px;text-align: center;color: #2b3a42;border:2px solid #2b3a42;line-height: 25px;font-size: 14px;border-radius:50%;transition:all 0.2s;}
.f-social a:hover,
.f-social a:focus,
.f-social a:active{color:#3e9bae;border-color: #3e9bae;}
.b-footer{font-size: 11px;font-weight: 500;color: #fff;background-color: #a7aaac;line-height: 1;text-align: center;}
.b-footer span{display: inline-block;vertical-align: middle;padding: 10px 15px;}
.f-address{}
.f-address li{color:#fff;position:relative;padding-left:30px !important;}
.f-address li i{position:absolute;left:0;top:5px;}
.f-address li:before{display:none;}


/*About us page*/
.about-side-box{background-color: #fff;box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.5);padding: 20px;margin-top:-60px;}
.about-side-box .mini-title{padding-bottom: 15px;margin-bottom: 15px;border-bottom: 1px solid #147dc2;}
.page-contact-box .cont-box{background-color: rgba(255,255,255,0.9);padding: 20px 30px 30px 20px;}

.our-quality ul{list-style-type: none;padding: 0;margin: 0;text-align: center;}
.our-quality li{display: inline-block;width:16.2%;vertical-align: top;}
.our-quality li a{display: block;opacity: 0.6;color: #fff;text-decoration: none;}
.our-quality li a:hover{opacity: 1;color: #000;text-decoration: none;}
.our-quality li a{display: block;max-width: 100%;margin:0 auto;}
.our-quality li a img{margin: 0 auto;}
.our-quality li a:hover .hover-img,
.our-quality li a .normal-img{display: block;}
.our-quality li a .hover-img,
.our-quality li a:hover .normal-img{display: none;}
.our-quality li a span{display: block;margin-top: 15px;}

/*Contact us page*/
.contact-address .f-address li{color: #777777;margin-bottom: 15px;}
.contact-address .f-address li a{color: #777777;}
.contact-address .f-address li a:hover{text-decoration: none;}
.contact-address .f-address li a:hover,
.contact-address .f-address li i{color: #147dc2;}
.map-section iframe{margin-bottom: 0;height: 300px;width: 100%;display: block;}


/*Our Work page*/
.work-list-filter {text-align: justify;}
.work-list-filter li,
.work-list-filter li a{padding: 0 15px;display: inline-block;}
.work-list-filter li a.active,
.work-list-filter li a:active,
.work-list-filter li a:focus,
.work-list-filter li a:hover{color: #183059;}
.work-list-filter li a {font-size: 14px;color: #93a2bc;font-weight: 700;text-transform: uppercase;text-decoration: none;transition: all .5s;}
.work-list-filter:after {display: inline-block;width: 100%;content: '';}